* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #863CBF;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    background-color: #5C2387;
}

.pesquisar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.pesquisar input {
    border: none;
    padding: 5px;
    outline: none;
}

.pesquisar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
}


.redes-sociais a {
    margin-left: 10px;
}

.redes-sociais img {
    width: 20px;
    height: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}


.nav-bar img {
    height: 80px;
    width: auto;
    display: block;
}

.nav-bar input {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#botao {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.3s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
